.details-card-likes {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.details-card-likes-count {
    background: linear-gradient(to bottom, #cfc09f 22%, #634f2c 24%, #cfc09f 26%, #cfc09f 27%, #ffecb3 40%, #ce931c 78%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
    font-family: 'Playfair Display', serif;
    position: relative;
    text-transform: uppercase;
    font-size: 60px;
    margin: 0;
    font-weight: 400;
    text-shadow: 1px 1px 8px rgb(255 221 0 / 28%);
}


.details-card-medal-wrapper {
    width: 100px;
    position: relative;
}

.details-card-medal-wrapper img {
    width: 100%;
}

.place {
    position: absolute;
    margin: 0;
    color: black;
    font-size: 48px;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    top: 35%;
    left: 50%;
    text-shadow: -2px 1px 2px #fffb01;
    transform: translate(-50%, -50%);
}


@media all and (min-width:1500px) {}

@media all and (max-width:1400px) {}

@media all and (max-width:1200px) {}

@media all and (max-width:1024px) {
    .details-card-likes-count {
        font-size: 40px;
    }

    .details-card-medal-wrapper {
        width: 70px;
    }

    .place {
        font-size: 38px;
    }

}

@media all and (max-width:768px) {
    .details-card-owner{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .details-card-likes{
        width: 100%;
    }

    .details-card-likes-count {
        font-size: 50px;
    }

    .details-card-medal-wrapper {
        width: 83px;
    }

    .place {
        font-size: 48px;
    }
}

@media all and (max-width:480px) {

    .details-card-likes-count {
        font-size: 35px;
    }

    .details-card-medal-wrapper {
        width: 60px;
    }

    .place {
        font-size: 38px;
    }
}