.comment-wrapper {
    width: 330px;
    background: #9c0a9c;
    padding: 10px;
    position: relative;
    color: white;
    border-radius: 10px;
    margin: 15px;
    border-radius: 10px;
    margin: 15px;
    box-shadow: 2px 3px 14px 0px #f8f5f5cf;
}

.comment-content {
    font-size: 17px;
    font-weight: 300;
    font-style: italic;
    text-shadow: 2px 2px 4px #000000a8;
    text-align: center;
}

.comment-author {
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    text-align: right
}

.delete-comment {
    position: absolute;
    inset: 8% 92%;
    cursor: pointer;
    font-size: 20px;
}