.my-likes-wrapper {
    display: grid;
    gap: 1.2rem;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.my-likes-title,
.no-likes-title {
    color: white;
    font-size: 35px;
    font-weight: 400;
}

.no-likes-wrapper {
    text-align: center;
}

.no-likes-wrapper a {
    color: greenyellow;
    border: 1px solid #8080801f;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 0 6px 0 white;
    font-size: 18px;
    font-weight: 300;
}


@media all and (max-width:1200px) {
    .my-likes-wrapper {
        gap: 4rem;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (max-width:1024px) {
    .my-likes-wrapper {
        gap: 1.2rem;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (max-width:768px) {
    .my-likes-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .my-likes-title {
        text-align: center;
        font-size: 30px;
    }
}