.home-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.home-title-wrapper{
    padding: 30px 0;
    text-align: center;
}

.home-title{
    margin: 7px;
    font-size: 35px;
    font-weight: 400;
}

.home-title:nth-child(3){
    text-decoration: underline;
    margin-top: 25px;
}

.home-content-wrapper{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.home-content-img-wrapper{
    width: 63%;
}

.home-content-img-wrapper img{
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 black;
}

.home-content-tile{
    font-size: 29px;
}

.home-content{
    width: 30%;
    line-height: 1.6rem;
    text-align: center;
}