.card-wrapper {
    width: 400px;
    padding: 10px;
    background: #ffffff40;
    box-shadow: 0 0 6px 0 white;
    border-radius: 10px;
    color: white;
    margin: 30px 10px;
}

.card-img-wrapper {
    width: 100%;
}

.card-img-wrapper img {
    width: 100%;
    max-height: 240px;
    border-radius: 10px;
    box-shadow: 0 0 9px 3px black;
    object-fit: cover;
}

.card-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 35px;
    border-bottom: 1px solid #d3d3d33d;
    text-transform: capitalize;
}

.card-content-title,
.card-content-result {
    margin: 0;
}

.card-content-title{
    font-size: 19px;
}

.card-content-result{
    font-size: 17px;
}

.card-btns-list{
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.card-btns-list-item{
    margin: 5px;
}

.card-btns-list-item a{
    color: black;
    text-decoration: none;
    padding: 7px 20px; 
    border-radius: 10px;
    font-weight: 600;
}

.details-btn a{
    background: purple;
}

.update-btn a{
    background: orange;
}

.card-owner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-owner-name{
    font-size: 19px;
    font-weight: 400;
    text-align: right;
    color: greenyellow;
    text-shadow: 3px 3px 5px black;
}