.header-wrapper {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.header-lists-wrapper {
    width: 96%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    background: black;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0 0 10px 0 white;
}

.header-list {
    margin: 0;
    position: relative;
    list-style: none;
    padding: 0;
    display: flex;
}

.header-list-item a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
}

.header-list i {
    color: white;
    font-size: 31px;
    padding: 25px 35px;
    cursor: pointer;
}

.header-list i:hover .header-dropdown {
    display: flex;
    flex-direction: column;
}

.header-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    z-index: 2;
}

.header-dropdown-left{
    left: 0%;
}

.header-dropdown-right{
    right: 0%;
}

.header-dropdown a {
    width: 110px;
    min-width: 100px;
    font-size: 15px;
    color: white;
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
    margin: 2px 0;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 0 10px 0 white;
}

.header-logo-wrapper {
    position: absolute;
    top: -30%;
    left: 50%;
    transform: translate(-50%);
}