.header-wrapper {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.header-lists-wrapper {
    width: 96%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0 0 10px 0 white;
}

.header-list {
    margin: 0;
    position: relative;
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.header-list a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
}

.header-list i {
    color: white;
    font-size: 31px;
    padding: 25px 35px;
    cursor: pointer;
}

.header-list i:hover .header-dropdown {
    display: flex;
    flex-direction: column;
}

.header-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    z-index: 2;
}

.header-dropdown-left {
    left: 0%;
}

.header-dropdown-right {
    right: 0%;
}

.header-dropdown a {
    width: 110px;
    min-width: 100px;
    font-size: 15px;
    color: white;
    background: rgb(0, 0, 0, 0.5);
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
    margin: 2px 0;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 0 10px 0 white;
}

.header-dropdown a:hover {
    color: black;
    background: orange;
}

.header-title-wrapper {
    display: flex;
    width: 700px;
    justify-content: space-between;

}

.header-title {
    color: white;
    font-size: 22px;
    font-weight: 300;
}

.header-title::before {
    content: '';
    background: url('../../../public/images/star.png');
    width: 16px;
    height: 16px;
    background-size: contain;
    display: inline-block;
    background-repeat: no-repeat;
    margin-right: 8px;
}

.header-title::after {
    content: '';
    background: url('../../../public/images/star.png');
    width: 16px;
    height: 16px;
    background-size: contain;
    display: inline-block;
    background-repeat: no-repeat;
    margin-left: 8px;
}

.header-logo-wrapper {
    position: absolute;
    top: -25%;
    left: 50%;
    transform: translate(-50%);
}

.header-list-username {
    color: white;
    font-style: italic;
    font-weight: 200;
}

@media all and (max-width:1400px) {
    .header-title-wrapper {
        width: 550px;
    }
}

@media all and (max-width:1200px) {
    .header-list i {
        padding: 25px;
    }

    .header-title {
        font-size: 18px;
    }

    .header-list-username {
        font-size: 18px;
        text-align: end;
    }
}

@media all and (max-width:1024px) {
    .header-title {
        font-size: 16px;
    }

    .header-title::before {
        width: 13px;
        height: 13px;
    }

    .header-title::after {
        width: 13px;
        height: 13px;
    }

    .header-list-username {
        font-size: 15px;
        text-align: end;
    }

    .header-list i {
        font-size: 28px;
    }
}

@media all and (max-width:900px) {
    .header-title {
        display: none;
    }

    .header-title-wrapper {
        width: 185px;
    }
}

@media all and (max-width:480px) {
    .header-list i {
        font-size: 24px;
        padding: 25px 12px;
    }
}