body {
    margin: 0;
    position: relative;
    box-sizing: border-box;
    background: url('../public/images/offroadbg.jpg') no-repeat center center ;
    background-size: cover;
    background-attachment: fixed;
}

*,
*::before,
*::after {
    box-sizing: inherit;
} 

body::before {
    content: "";
    position: fixed;
    inset: 0 0 0 0;
    background-color: rgba(0,0,0,0.75);
    height: auto;
    height: 100vh;
    z-index: -1;
}

main {
    width: 98%;
    min-height: 80vh;
    padding: 150px 30px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media all and (max-width:1400px) {
   
}

@media all and (max-width:1200px) {
    main {
        padding: 130px 10px 0 10px;
    }
}

@media all and (max-width:1024px) {
   
}

@media all and (max-width:768px) {
   
}

@media all and (max-width:480px) {
   
}