@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.app {
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: 'Raleway', sans-serif;
    text-transform: capitalize;
}

p{
    font-size: 16px;
}

@media all and (min-width:1500px) {
   p {
    font-size: 18px;
    line-height: 1.8rem;
   }
}

@media all and (max-width:1400px) {
    p{
        font-size: 15px;
    }
}

@media all and (max-width:1200px) {
   
}

@media all and (max-width:1024px) {
   
}

@media all and (max-width:768px) {
   
}

@media all and (max-width:480px) {
   
}